<html>
    <head>
        <title>Internship tutor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- bootstrap-css -->
        <link rel="stylesheet" href="Template/css/bootstrap.min.css" >
        <!-- //bootstrap-css -->
        <!-- Custom CSS -->
        <link href="Template/css/style.css" rel='stylesheet' type='text/css' />
        <link href="Template/css/style-responsive.css" rel="stylesheet"/>
        <!-- font CSS -->
        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <!-- font-awesome icons -->
        <link rel="stylesheet" href="Template/css/font.css" type="text/css"/>
        <link href="Template/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="../css/styles.css" type="text/css"/>
        <link rel="stylesheet" href="../css/styles.css" type="text/css">
        <link rel="stylesheet" href="../css/font-awesome.css" type="text/css"/>
        <link rel="stylesheet" href="../css/font-awesome.css" type="text/css">
        <link rel="stylesheet" href="../css/style.css" type="text/css"/>

            
            
            
            
        <!-- //font-awesome icons -->
        <script src="Template/js/jquery2.0.3.min.js"></script>
    </head>
    <body>
        <br><br><br><br>
<section id="main-content">
<div  class="reg-w3 mt-2">
                        <div class="col-md-12">
<div style="background-color:#fff0f5;" class="panel panel-default">
    <div class="panel panel-default chat mt-2">
        <div class="panel-heading">
            Studenti
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
        <div class="panel-body">
            <dl>
                <dt class="left clearfix"><span class="chat-img pull-left">
                        <img src="Template/images/profile-pic-2.jpg" width="60" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header"><strong class="primary-font">Studente Univaq</strong> <small class="text-muted"></small></div>
                        <p>Sono uno studente, come trovo un tirocinio?</p>
                    </div>
                </dt>
                
                <dd class="right clearfix"><span class="chat-img pull-right">
                        <img src="Template/images/profile-pic-1.jpg" width="60" alt="User Avatar" class="img-circle">
                    </span>
                    <br>
                    <div class="chat-body clearfix">
                        <div class="header"><strong class="pull-left primary-font">Carlo - Internship Tutor Admin:&nbsp </strong> <small class="text-muted"></small></div>
                        <p>Gli studenti che intendono fare un tirocinio o uno stage presso Enti o Aziende convenzionate con l'Universit&agrave; dell'Aquila possono sfogliare le offerte di tirocinio nella sezione "Tirocini" ed
                            eventualmente, cercarne uno specifico tramite la funzione di ricerca.
                        </p>
                    </div>
                </dd>
            </dl>
            
            <dl>
                <dt class="left clearfix"><span class="chat-img pull-left">
                        <img src="Template/images/profile-pic-2.jpg" width="60" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header"><strong class="primary-font">Studente Univaq</strong> <small class="text-muted"></small></div>
                        <p>Quando mi sara' consegnato l' attestato di completamento tirocinio?</p>
                    </div>
                </dt>
                <dd class="right clearfix"><span class="chat-img pull-right">
                        <img src="Template/images/profile-pic-1.jpg" width="60" alt="User Avatar" class="img-circle">
                    </span>
                    <br>
                    <div class="chat-body clearfix">
                        <div class="header"><strong class="pull-left primary-font">Carlo - Internship Tutor Admin:&nbsp</strong> <small class="text-muted"></small></div>
                        <p>Quando un tirocinio e' terminato, l' azienda ha il compito di finalizzare il tutto. Nel momento della conferma, sara' generato il file.pdf di cui parli.
                            Esso sara' visualizzabile nella tua homepage appena sarà disponibile.</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <br>
    <div class="panel panel-default chat">
        <div class="panel-heading">
            Aziende
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
        <div class="panel-body" style="display: block;">
            <dl>
                <dt class="left clearfix"><span class="chat-img pull-left">
                        <img src="Template/images/profile-pic-3.jpg" width="60" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header"><strong class="primary-font">DevFactory S.p.a</strong> <small class="text-muted"></small></div>
                        <p>Come posso partecipare con la mia Azienda?</p>
                    </div>
                </dt>
                <dd class="right clearfix"><span class="chat-img pull-right">
                        <img src="Template/images/profile-pic-1.jpg" width="60" alt="User Avatar" class="img-circle">
                    </span>
                    <br>
                    <div class="chat-body clearfix">
                        <div class="header"><strong class="pull-left primary-font"> Carlo - Internship Tutor Admin:&nbsp</strong> <small class="text-muted"></small></div>
                        <p>Le aziende che intengono pubblicare le proprie proposte di tirocinio devono registrarsi tramite l'apposita sezione fornendo tutti i dati. Una volta completata, bisogna aspettare l'accettazione da parte
                            di un amministratore che verifichera' l'idoneita' dell' azienda e procedera' a confermare e ufficializzare la convenzione.
                        </p>
                    </div>
                </dd>
            </dl>
                <dl>
                <dt class="left clearfix"><span class="chat-img pull-left">
                        <img src="Template/images/profile-pic-3.jpg" width="60" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header"><strong class="primary-font">GalileoDevelopers</strong></div>
                        <p>Come cerco degli studenti per la mia azienda?</p>
                    </div>
                </dt>
                <dd class="right clearfix"><span class="chat-img pull-right">
                        <img src="Template/images/profile-pic-1.jpg" width="60" alt="User Avatar" class="img-circle">
                    </span>
                    <br>
                    <div class="chat-body clearfix">
                        <div class="header"><strong class="pull-left primary-font">Carlo - Internship Tutor Admin:&nbsp</strong> <small class="text-muted"></small></div>
                        <p>Al momento e' possibile pubblicare Annunci che appariranno immediatamente nella lista tirocini. Questa funzionalita' e' attiva per le sole aziende approvate ufficialmente da un amministratore.</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
                        </div>
    </div>
</section>
    </body>
</html>
<!--/.main--> 
