<!DOCTYPE html>
<head>
<title>Internship tutor</title>

<!-- bootstrap-css -->
<link rel="stylesheet" href="Template/css/bootstrap.min.css" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="Template/css/style.css" rel='stylesheet' type='text/css' />
<link href="Template/css/style-responsive.css" rel="stylesheet"/>
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="Template/css/font.css" type="text/css"/>
<link href="Template/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<script src="Template/js/jquery2.0.3.min.js"></script>
</head>
<body>
<!--main content start-->
<div class="eror-w3">
	<div class="agile-info">
		<h3>SORRY</h3>
		<h2>404</h2>
		<p>An error Occurred in the Application And Your Page could not be Served.</p>
		<a href="homepage">go home</a>
	</div>
</div>
<script src="Template/js/bootstrap.js"></script>
</html>